<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <div class="form-group">
        <input type="hidden" th:field="${manufacturersFSMPartsFSM.manufacturersFSM}">
            <select th:field="${manufacturersFSMPartsFSM.partsFSM}">
                <option th:each="part : ${partsFSMList}"
                        th:value="${part.id}"
                        th:text="${part.partName}"
                ></option>
            </select>

    </div>


    <div class="form-group">
        <input type="hidden" th:value="${manualID}" name="manualID">
        <input type="submit" value="Add part from the list" class="btn btn-secondary">

    </div>

</form>

<a th:href="'/fsm/listOfManuals/manual/createPart?manualID='+${manualID}" class="btn btn-secondary" role="button" aria-pressed="true">Create new part</a>
<a th:href="'/fsm/listOfManuals/manual?manualID='+${manualID}" class="btn btn-secondary" role="button" aria-pressed="true">Return back to the list of manuals</a>

<hr>
<img src="/image/susp.jpg" height="342" width="642">
</body>
