<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <div class="form-group">
        <label>Name of FSM
            <select th:field="${manual.fsmName}">
                <option th:each="fsmName : ${listOfFSMNames}"
                        th:value="${fsmName.id}"
                        th:text="${fsmName.fsmName}"
                ></option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>Millage to repeat
            <input th:field="${manual.millageToRepeat}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Details
            <input th:field="${manual.details}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit change" class="btn btn-secondary">
        <input type="hidden" th:value="${manual.id}" name="manualID">
    </div>

</form>


</body>
</html>