<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class ="table table-striped">

        <tr>
            <th style="color:black; font-size:20px; font-family:'Courier New'; ">Name of the car in DB</th>
            <td th:text="${car.nameOfCarInDB}"></td>
        </tr>
        <tr>
            <th style="color:black; font-size:20px; font-family:'Courier New'; ">Name of manufacturer</th>
            <td th:text="${car.nameOfManufacturer}"></td>
        </tr>
        <tr>
            <th style="color:black; font-size:20px; font-family:'Courier New'; ">Year of manufacturing</th>
            <td th:text="${car.yearOfManufacturing}"></td>
        </tr>
        <tr>
            <th style="color:black; font-size:20px; font-family:'Courier New'; ">Model of the car</th>
            <td th:text="${car.modelOfCar}"></td>
        </tr>

</table>

<a th:href="@{/fsm/carInDB/editCar/{idCar}(idCar=${car.id})}" class="btn btn-secondary" role="button" aria-pressed="true">Edit car</a>
<a th:href="@{/fsm/carInDB/deleteCar/{idCar}(idCar=${car.id})}" class="btn btn-secondary" role="button" aria-pressed="true">Delete car</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th th:text="${title}" style="color:black; font-size:25px; font-family:'Courier New'; "></th>
    </tr>
    </thead>
    <tr th:each="manual : ${listOfManuals}">
        <td><a th:href="'/fsm/listOfManuals/manual?manualID='+${manual.id}" th:text="${manual.getFsmName().getFsmName()}"></a></td>
    </tr>
</table>

<a th:href="'/fsm/listOfManuals/addNewManual?carInDBID='+${carInDBID}" class="btn btn-secondary" role="button" aria-pressed="true">Add new manual</a>
<a href="/fsm" class="btn btn-secondary" role="button" aria-pressed="true">Return back</a>
<hr>
<img src="/image/ebca03deeaac890a1baf4e34fbd90e4f.jpg" height="342" width="542">
</body>
</html>