<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Name of service</th>
        <td th:text="${manual.get().getFsmName().getFsmName()}"></td>
    </tr>
    <tr>
        <th>Miles to repeat service</th>
        <td th:text="${manual.get().millageToRepeat}"></td>
    </tr>
    <tr>
        <th>Details</th>
        <td th:text="${manual.get().details}"></td>
    </tr>

    <a th:href="'/fsm/listOfManuals/editManual?manualID='+${manualID}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit manual</a>
    <a th:href="'/fsm/listOfManuals/deleteManual?manualID='+${manualID}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete manual</a>

    <th>Parts:</th>
    <tr th:each="part : ${manual.get().getPartsFSMList()}">
        <td><a th:href="'/fsm/listOfManuals/manual/part?partID='+${part.id}+'&manualID='+${manualID}" th:text="${part.partName}"></a></td>
    </tr>
</table>


<a th:href="'/fsm/listOfManuals/manual/addPart?manualID='+${manual.get().id}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new part</a>
<a th:href="'/fsm/listOfManuals/manual/removePart?manualID='+${manual.get().id}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Remove part from manual</a>
<a th:href="'/fsm/listOfManuals/?carInDBID='+${manual.get().getCarInDB().getId()}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Return back to the list of manuals</a>


</body>
</html>