<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Part name</th>
        <td><a th:href="'https://www.amazon.com/s?k='+${part.getPartName()}+'+'+${manual.getCarInDB().getNameOfCarInDB()}" th:text="${part.getPartName()}"></a></td>
    </tr>
    <tr>
        <th>Part brand name</th>
        <td th:text="${part.getPartBrandName()}"></td>
    </tr>
    <tr>
        <th>Cost</th>
        <td th:text="${part.cost}"></td>
    </tr>
    <th>List of FSMs where this part is used:</th>
    <tr th:each="manual : ${part.manufacturersFSMList}">
        <td th:text="${manual.fsmName}"></td>
    </tr>
    <th>List of cars where this part is used:</th>
    <tr th:each="manual : ${part.manufacturersFSMList}">
        <td th:text="${manual.carInDB.nameOfCarInDB}"></td>
    </tr>
</table>

<a th:href="'/fsm/listOfManuals/manual/deleteFromDB/part?partID='+${part.getId()}+'&manualID='+${manualID}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete part from database</a>
<a th:href="'/fsm/listOfManuals/manual/editPartInDB/part?partID='+${part.getId()}+'&manualID='+${manualID}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit part in database</a>
<a th:href="'/fsm/listOfManuals/manual?manualID='+${manualID}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Return back to the manual</a>



</body>
</html>