<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Do It Yourself : Fix or Maintain Your Cars!</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<footer th:fragment="header">
    <h1 th:text="${title}" style="color:gray; font-size:40px; font-family:'Courier New'; font-weight:bold" ></h1>
<hr>
    <ul class="nav">
        <li class="btn btn-outline-secondary"><a class="nav-link secondary" style="color:gray" href="/">Home</a></li>
        <li class="btn btn-outline-secondary"><a class="nav-link secondary" style="color:gray" href="/fsm">Factory Service Manuals</a></li>
        <li class="btn btn-outline-secondary"><a class="nav-link secondary" style="color:gray" href="/history">Work with own history</a></li>
    </ul>
    <hr>
</footer>

<div th:fragment="dropdown" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Factory Service Manuals
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">List of cars in database</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

</body>
</html>